# --- Python cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtualenv ---
venv/
.venv/

# --- IDE (PyCharm, VSCode) ---
.idea/
.vscode/

# --- Environment / secrets ---
.env
*.env

# --- Database locali ---
*.db
*.sqlite
*.sqlite3


# --- Log ---
*.log

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Others ---
orders.db
session.db-shm
session.db-wal